<p><%= DateTime.now.to_s(:long)%></p>

<main class="m1">      
<article><h1 class="h1h">My To-do List </h1>
<section class="s1">
    <input type="text" placeholder="What's next?" class="textfield1 ">
    <input type="date" class="textfield2" >
    <input type="button" value="Add" class="b1" placeholder="Add">
</section>
<%= render partial:"todo-section",locals: 
{section_title: "Overdue",
todos: Todo.overdue,
show_due_date:true
} %>
<%= render partial:"todo-section",locals: 
{section_title: "Due today",
todos: Todo.due_today,
show_due_date:false
} %>
<%= render partial:"todo-section",locals: 
{section_title: "Due later",
todos: Todo.due_later,
show_due_date:true
} %>




</article>