<p><%= DateTime.now.to_s(:long)%></p>

<main class="m1">      
<article><h1 class="h1h">My To-do List </h1>
<form class="s1" action="/todos" method="POST">

    <input type="text" placeholder="What's next?" class="textfield1" name="todo_text">
    <input type="date" class="textfield2" name="due_date">
    <input type="submit" value="Add" class="b1" placeholder="Add">
</form>

<%= render partial:"todo-section",locals: 
{section_title: "Overdue",
todos: Todo.overdue,
show_due_date:true
} %>
<%= render partial:"todo-section",locals: 
{section_title: "Due today",
todos: Todo.due_today,
show_due_date:false
} %>
<%= render partial:"todo-section",locals: 
{section_title: "Due later",
todos: Todo.due_later,
show_due_date:true
} %>




</article>