.home-title
{
    font-size:20px;
    margin-bottom: 30px;
}
.home-authenticate
{
    font-size: 16px;
    margin-bottom:20px;
}
.userheader
 {
     padding: 10px;
     font-size: 15px;
     background-color: lightgray;
     margin-bottom: 10px;
     display: flex;
     justify-content: space-between;
 }
 .flash
 {
     color:darkred;
     margin-bottom: 20px;
     font-size: 16px;
 }