<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale=1.0">
    <title>Our Todo Management App</title>
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="my-app.css">
</head>
<body>
<h1 class="Todopage-title">Todo-list</h1>

<Article>
    <section class="Todosection"> 
        <h2 class="Todopage-section">Due-Today</h2>
        <p class=Todopage-todo>Submit SaaS 201</p>
        <p class=Todopage-todo>Call accountant</p>
    </section>

    <section class="Todosection">
        <h2 class="Todopage-section">Due-Tomorrow</h2>
        <p class=Todopage-todo>Refill groceries</p>
    </section>
</Article>
</body>
</html>